@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
  font-size: 16px;
  line-height: 1.8em;
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

article {
  padding:0 1em;
}

section{
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  background-size: cover ;
  background-position: fixed;
  background-image: url('img/bg.jpg');
  color: white;
}

header section {
  max-width: 900px ;
  margin: 0 auto;
}

header img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

h1 {
  margin: 1em 0;
}

h2  {
    font-size: 20px;
}
h3  {
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
}

main {
  max-width: 1140px;
}

main section:not(:last-child)    {
    border-bottom: 1px solid #cccccc;
}

.fab    {
    border:1px solid white;
    border-radius: 50%;
    font-size: 1.5em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    margin: 5px;
    text-align: center;
}

a .fab  {
    color: white;
}

.course {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.course .title {
    flex: 0 0 33.3%;
    max-width: 33%;
    color: #509e98;
}

.course .descrition {
    flex: 0 0 66.6%;
    max-width: 66.6%;
}

.course .descrition p {
    padding-left: 1em;
}

.school span    {
    color: #509e98;
}

.job span   {
    color: #509e98;
}
footer   {
    padding: 1em;
    background: #A7B8BF;
    color: white;
    text-align: right;
}

.skills {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.skills .column {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

ul {
    margin: 0;
}

ul.list {
    list-style-type: none;
    padding: 0;
}

ul.list > li   {
    padding-left: 1.5em;
}

ul.list > li:before {
    content: "►";
    padding-right: 0.5em;
    color: #509e98;
}🇬🇧

